# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Environment Variables
.env

# Logs
logs/

# SQLite Database
database/*.db

# Processed Data
data/processed/

# Exported Reports
data/exports/

# macOS
.DS_Store

# Windows
Thumbs.db

